<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

<div th:fragment="header">

    <h1 style="text-align:center;">
        Système de Gestion des Étudiants
    </h1>

    <div style="text-align:right;">

        Connecté :
        <strong sec:authentication="name"></strong>

        <br><br>

        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/notes/form}">
            Ajouter une note
        </a>

    </div>

    <hr>

</div>

</body>
</html>